.env
.env.*
!.env.example

/vendor/
/node_modules/

/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/public/uploads/private/

*.log
*.tmp
*.zip
.DS_Store
Thumbs.db
.idea/
.vscode/
database/backups/
